# Data Preprocessing and Exploration

### Description

The S&P 500 Index EPS, S&P 500 Index closing prices, real U.S GDP, U.S average 10-year yield(%), and average annual U.S inflation rates data for years ranging from 1979 - 2019 are imported.

All the data imported is merged into one comprehensive data frame. 

The data is then split into four decades:

Decade 1: 1979 - 1989<br>
Decade 2: 1989 - 1999<br>
Decade 3: 1999 - 2009<br>
Decade 4: 2009 - 2019<br>

The data is then exported to the project directory to be used in further analysis.

### Data manipulation and Exploration

In [10]:
# Import relevant packages
import pandas as pd
# Import relevant defined funtions
from ipynb.fs.full.Stats_Monte_Carlo_Functions import *

# Import American Real GDP Data
gdp_com = pd.read_csv('Data/Real_GDP.csv')
gdp_com = gdp_com.drop(['Unnamed: 0'], axis=1)

# All data is for the United States and in millions of dollars chanined to 2012
print('\n','------------ United Sates Real GDP Data ------------'.center(110),'\n')
gdp_com.info()

# Duplicates 
duplicate_rows = gdp_com[gdp_com.duplicated()]
duplicate_rows.shape[0]
print('\n' + 'duplicated rows:' + str(duplicate_rows.shape[0]))

# Descriptive stats are shown for features to be used in the analysis
series_stats_gen1(gdp_com['rg_gdp'], 'United Sates Real GDP')
print('\n',len(gdp_com['year'].unique()),'Unique Years:','\n', gdp_com['year'].unique(),'\n')

gdp_com.head()

                              ------------ United Sates Real GDP Data ------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rg_state  41 non-null     object
 1   rg_unit   41 non-null     object
 2   rg_gdp    41 non-null     float64
 3   year      41 non-null     float64
dtypes: float64(2), object(2)
memory usage: 1.4+ KB

duplicated rows:0


Statistics for: United Sates Real GDP
Mean:                .........12366337.94
Standard Error:      ...........600567.04
Median:              ..........12610491.0
Mode:                .........12366337.94
Std:                 ..........3845505.35
Variance:            ...14787911432210.47
Kurtosis:            ...............-1.34
Skewness:            ................0.06
Range:               .........12245833.59
Min:                 ..........6827222.41
Max:                 ..........19073056.0
Sum:                 ........507019855.66
Count:               ..................41


 41 Unique Years:
 [1979. 1980. 1981. 1982. 1983. 1984. 1985. 1986. 1987. 1988. 1989. 1990.
 1991. 1992. 1993. 1994. 1995. 1996. 1997. 1998. 1999. 2000. 2001. 2002.
 2003. 2004. 2005. 2006. 2007. 2008. 2009. 2010. 2011. 2012. 2013. 2014.
 2015. 2016. 2017. 2018. 2019.]

        rg_state                           rg_unit        rg_gdp    year
0  United States  Millions of chained 2012 dollars  6.827700e+06  1979.0
1  United States  Millions of chained 2012 dollars  6.827222e+06  1980.0
2  United States  Millions of chained 2012 dollars  7.012547e+06  1981.0
3  United States  Millions of chained 2012 dollars  6.922469e+06  1982.0
4  United States  Millions of chained 2012 dollars  7.120968e+06  1983.0

Import real historical U.S GDP and explore the data.

The data is from the St.Louis Fed API https://apps.bea.gov/api/_pdf/bea_web_service_api_user_guide.pdf.

In [11]:
# Import S&P 500 Index data
# The S&P 500 Index closing prices are the data to be analyzed
sp = pd.read_csv('Data/S&P_500_Prices.csv')
# Set column names
sp.columns = ['date', 'sp_open','sp_high', 'sp_low','sp_close','sp_adj_close','sp_volume']
# Date formating to display year as a float type
sp['year'] = sp['date'].str.replace('-', '').astype(float).divide(10000).round(0)
# Drop unneeded columns
sp = sp.drop(['date'], axis=1)

print('\n','------------------ S&P 500 Index Data ------------------'.center(110),'\n')
sp.info()

# Duplicates 
duplicate_rows = sp[sp.duplicated()]
duplicate_rows.shape[0]
print('\n' + 'duplicated rows:' + str(duplicate_rows.shape[0]))

# Descriptive stats are shown for features to be used in the analysis
series_stats_gen1(sp['sp_close'], 'S&P 500 Index Closing Prices')
print('\n',len(sp['year'].unique()),'Unique Years:','\n', sp['year'].unique(),'\n')

sp.head()

                            ------------------ S&P 500 Index Data ------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23052 entries, 0 to 23051
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sp_open       23052 non-null  float64
 1   sp_high       23052 non-null  float64
 2   sp_low        23052 non-null  float64
 3   sp_close      23052 non-null  float64
 4   sp_adj_close  23052 non-null  float64
 5   sp_volume     23052 non-null  int64
 6   year          23052 non-null  float64
dtypes: float64(6), int64(1)
memory usage: 1.2 MB

duplicated rows:1705


Statistics for: S&P 500 Index Closing Prices
Mean:                ..............455.82
Standard Error:      ................4.42
Median:              ...............98.66
Mode:                ................14.7
Std:                 ..............670.59
Variance:            ...........449691.01
Kurtosis:            ................2.34
Skewness:            ................1.74
Range:               .............3021.46
Min:                 .................4.4
Max:                 .............3025.86
Sum:                 .........10507584.16
Count:               ...............23052


 93 Unique Years:
 [1927. 1928. 1929. 1930. 1931. 1932. 1933. 1934. 1935. 1936. 1937. 1938.
 1939. 1940. 1941. 1942. 1943. 1944. 1945. 1946. 1947. 1948. 1949. 1950.
 1951. 1952. 1953. 1954. 1955. 1956. 1957. 1958. 1959. 1960. 1961. 1962.
 1963. 1964. 1965. 1966. 1967. 1968. 1969. 1970. 1971. 1972. 1973. 1974.
 1975. 1976. 1977. 1978. 1979. 1980. 1981. 1982. 1983. 1984. 1985. 1986.
 1987. 1988. 1989. 1990. 1991. 1992. 1993. 1994. 1995. 1996. 1997. 1998.
 1999. 2000. 2001. 2002. 2003. 2004. 2005. 2006. 2007. 2008. 2009. 2010.
 2011. 2012. 2013. 2014. 2015. 2016. 2017. 2018. 2019.]

     sp_open    sp_high     sp_low   sp_close  sp_adj_close  sp_volume    year
0  17.660000  17.660000  17.660000  17.660000     17.660000          0  1927.0
1  17.760000  17.760000  17.760000  17.760000     17.760000          0  1928.0
2  17.719999  17.719999  17.719999  17.719999     17.719999          0  1928.0
3  17.549999  17.549999  17.549999  17.549999     17.549999          0  1928.0
4  17.660000  17.660000  17.660000  17.660000     17.660000          0  1928.0

Import S&P 500 Index historical prices and explore the data. 

There are 1,705 duplicated rows, however, based on the nature of this data there does not need to be any treatment.

The data is from yahoo finance https://ca.finance.yahoo.com/.

In [12]:
# Import S&P 500 Index earnings per share (EPS) data
sp_eps = pd.read_csv('Data/S&P_500_EPS.csv')
# Set column names
sp_eps.columns = ['date','eps']
# Reverse data
sp_eps = sp_eps.iloc[::-1]
# Date Formatting
sp_eps["date"] = pd.to_datetime(sp_eps["date"]).dt.strftime('%Y-%m-%d')
# Date formating to display year as a float type
sp_eps['year'] = sp_eps['date'].str.replace('-', '').astype(float).divide(10000).round(0)
# Drop unnneeded columns
sp_eps = sp_eps.drop(['date'], axis=1).reset_index()
sp_eps = sp_eps.drop(['index'], axis=1)

print('\n','------------ S&P 500 Index Earnings Per Share (EPS) Data ------------'.center(110),'\n')
sp_eps.info()

# Duplicates 
duplicate_rows = sp_eps[sp_eps.duplicated()]
duplicate_rows.shape[0]
print('\n' + 'duplicated rows:' + str(duplicate_rows.shape[0]))

# Descriptive stats are shown for features to be used in the analysis
series_stats_gen1(sp_eps['eps'], 'S&P 500 Index Earnings Per Share (EPS)')
print('\n',len(sp_eps['year'].unique()),'Unique Years:','\n', sp_eps['year'].unique(),'\n')

sp_eps.head()

                     ------------ S&P 500 Index Earnings Per Share (EPS) Data ------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eps     41 non-null     float64
 1   year    41 non-null     float64
dtypes: float64(2)
memory usage: 784.0 bytes

duplicated rows:0


Statistics for: S&P 500 Index Earnings Per Share (EPS)
Mean:                ...............66.28
Standard Error:      ................4.91
Median:              ...............59.39
Mode:                ...............66.28
Std:                 ...............31.43
Variance:            ..............988.04
Kurtosis:            ...............-0.61
Skewness:            ................0.64
Range:               ..............121.82
Min:                 ...............18.27
Max:                 ..............140.09
Sum:                 .............2717.43
Count:               ..................41


 41 Unique Years:
 [1979. 1980. 1981. 1982. 1983. 1984. 1985. 1986. 1987. 1988. 1989. 1990.
 1991. 1992. 1993. 1994. 1995. 1996. 1997. 1998. 1999. 2000. 2001. 2002.
 2003. 2004. 2005. 2006. 2007. 2008. 2009. 2010. 2011. 2012. 2013. 2014.
 2015. 2016. 2017. 2018. 2019.]

     eps    year
0  50.01  1979.0
1  44.33  1980.0
2  42.18  1981.0
3  33.43  1982.0
4  35.75  1983.0

Import the S&P 500 Index historical EPS and explore the data.

The data is from yahoo finance https://ca.finance.yahoo.com/.

In [13]:
# Import ten year United States Treasury Rates Data
ten_year = pd.read_csv('Data/10y_US_Rates.csv')
#Set column names
ten_year.columns = ['year', 'average_10y_yield_%','year_open','year_high','year_low','year_close',
                    'annual_%_change']

print('\n','------------ Ten Year United States Treasury Rates Data ------------'.center(110),'\n')
ten_year.info()

# Duplicates 
duplicate_rows = ten_year[ten_year.duplicated()]
duplicate_rows.shape[0]
print('\n' + 'duplicated rows:' + str(duplicate_rows.shape[0]))

# Descriptive stats are shown for features to be used in the analysis
series_stats_gen1(ten_year['average_10y_yield_%'].str.replace('%','').astype(float), 
                  'Average Ten Year United States Treasury Rates')
print('\n',len(ten_year['year'].unique()),'Unique Years:','\n',ten_year['year'].unique(),'\n')

ten_year.head()

                      ------------ Ten Year United States Treasury Rates Data ------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 58 non-null     int64
 1   average_10y_yield_%  58 non-null     object
 2   year_open            58 non-null     object
 3   year_high            58 non-null     object
 4   year_low             58 non-null     object
 5   year_close           58 non-null     object
 6   annual_%_change      58 non-null     object
dtypes: int64(1), object(6)
memory usage: 3.3+ KB

duplicated rows:0


Statistics for: Average Ten Year United States Treasury Rates
Mean:                ................6.07
Standard Error:      ................0.39
Median:              ................5.95
Mode:                ................2.14
Std:                 ................2.95
Variance:            ................8.67
Kurtosis:            ................0.03
Skewness:            ................0.61
Range:               ...............12.79
Min:                 ................1.13
Max:                 ...............13.92
Sum:                 ..............352.12
Count:               ..................58


 58 Unique Years:
 [2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008 2007
 2006 2005 2004 2003 2002 2001 2000 1999 1998 1997 1996 1995 1994 1993
 1992 1991 1990 1989 1988 1987 1986 1985 1984 1983 1982 1981 1980 1979
 1978 1977 1976 1975 1974 1973 1972 1971 1970 1969 1968 1967 1966 1965
 1964 1963]

,year,average_10y_yield_%,year_open,year_high,year_low,year_close,annual_%_change
0,2020,1.13%,1.88%,1.88%,0.54%,0.64%,-66.67%
1,2019,2.14%,2.66%,2.79%,1.47%,1.92%,-28.62%
2,2018,2.91%,2.46%,3.24%,2.44%,2.69%,11.83%
3,2017,2.33%,2.44%,2.63%,2.04%,2.41%,-1.59%
4,2016,1.84%,2.24%,2.60%,1.37%,2.44%,7.68%

Import historical ten year U.S treasury rates and explore the data.

The data is from the U.S department of the treasury https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yield.

In [15]:
# Import United Sates Inflation Data
inflation = pd.read_csv('Data/historical_U.S_Inflation.csv')
# Drop NA values
inflation = inflation.dropna()

print('\n','------------------ United Sates Inflation Rates Data ------------------'.center(110),'\n')
inflation.info()

# Duplicates 
duplicate_rows = inflation[inflation.duplicated()]
duplicate_rows.shape[0]
print('\n' + 'duplicated rows:' + str(duplicate_rows.shape[0]))

# Descriptive stats are shown for features to be used in the analysis
series_stats_gen1(inflation['average'],'Average United States Inflation Rates')
print('\n',len(inflation['year'].unique()),'Unique Years:','\n',inflation['year'].unique(),'\n')

inflation.head()

                    ------------------ United Sates Inflation Rates Data ------------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106 entries, 0 to 105
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     106 non-null    float64
 1   average  106 non-null    float64
dtypes: float64(2)
memory usage: 2.5 KB

duplicated rows:0


Statistics for: Average United States Inflation Rates
Mean:                ................3.22
Standard Error:      ................0.46
Median:              ................2.65
Mode:                .................1.6
Std:                 ................4.75
Variance:            ...............22.53
Kurtosis:            ................2.27
Skewness:            ................0.49
Range:               ................28.5
Min:                 ...............-10.5
Max:                 ................18.0
Sum:                 ...............341.4
Count:               .................106


 106 Unique Years:
 [1914. 1915. 1916. 1917. 1918. 1919. 1920. 1921. 1922. 1923. 1924. 1925.
 1926. 1927. 1928. 1929. 1930. 1931. 1932. 1933. 1934. 1935. 1936. 1937.
 1938. 1939. 1940. 1941. 1942. 1943. 1944. 1945. 1946. 1947. 1948. 1949.
 1950. 1951. 1952. 1953. 1954. 1955. 1956. 1957. 1958. 1959. 1960. 1961.
 1962. 1963. 1964. 1965. 1966. 1967. 1968. 1969. 1970. 1971. 1972. 1973.
 1974. 1975. 1976. 1977. 1978. 1979. 1980. 1981. 1982. 1983. 1984. 1985.
 1986. 1987. 1988. 1989. 1990. 1991. 1992. 1993. 1994. 1995. 1996. 1997.
 1998. 1999. 2000. 2001. 2002. 2003. 2004. 2005. 2006. 2007. 2008. 2009.
 2010. 2011. 2012. 2013. 2014. 2015. 2016. 2017. 2018. 2019.]

     year  average
0  1914.0      1.0
1  1915.0      1.0
2  1916.0      7.9
3  1917.0     17.4
4  1918.0     18.0

Import historical U.S inflation rates and explore the data.

The data is from U.S inflation calculator https://www.usinflationcalculator.com/inflation/historical-inflation-rates/.

In [16]:
# Merge all imported dataframes with relevant features
# Merge data frames
com = pd.merge(sp, gdp_com, on='year')
# Drop unnneeded columns
com = com.drop(['sp_open', 'sp_high', 'sp_low', 'sp_adj_close', 'sp_volume','rg_unit','rg_state'],axis=1)
# Merge data frames
com = pd.merge(com, sp_eps, on='year', how='left')
# Reorder coulumn placement
com = com[['year','eps','sp_close','rg_gdp']]
# Set column names
com.columns = ['year','s&p_eps','s&p_closing_prices','real_gdp']
# Merge data frames
com = pd.merge(com, ten_year, on='year', how='left')
# Drop unnneeded columns
com = com.drop(['year_open','year_high','year_low','year_close','annual_%_change'], axis=1)
# Merge data frames
com = pd.merge(com, inflation, on='year', how='left')
# Set column names
com.columns = ['year','s&p_eps','s&p_closing_prices','real_gdp',
               'average_10y_yield_%','average_annual_inflation']

# Drop missing values created due to the differences in dataframes
clean_com = com.dropna()

print('\n','------------ Clean Comprehensive Dataframe of All Imported Dataframes ------------'.center(110),'\n')

# Format average_10y_yield_% into workable data
# Date formating to display year as a float type
clean_com['average_10y_yield_%'] = clean_com['average_10y_yield_%'].str.replace('%','')
clean_com['average_10y_yield_%'] = clean_com['average_10y_yield_%'].astype(float)
clean_com['year'] = clean_com['year'].astype(float)

clean_com.info()

# Duplicates 
duplicate_rows = clean_com[clean_com.duplicated()]
duplicate_rows.shape[0]
print('\n' + 'duplicated rows:' + str(duplicate_rows.shape[0]))

# Descriptive stats are shown for features to be used in the analysis
series_stats_gen3(clean_com['s&p_eps'],clean_com['s&p_closing_prices'],clean_com['real_gdp'], 
                  clean_com['average_10y_yield_%'],clean_com['average_annual_inflation'])

print('\n',len(clean_com['year'].unique()),'Unique Years:','\n',clean_com['year'].unique(),'\n')

clean_com.head()

               ------------ Clean Comprehensive Dataframe of All Imported Dataframes ------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10283 entries, 0 to 10282
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      10283 non-null  float64
 1   s&p_eps                   10283 non-null  float64
 2   s&p_closing_prices        10283 non-null  float64
 3   real_gdp                  10283 non-null  float64
 4   average_10y_yield_%       10283 non-null  float64
 5   average_annual_inflation  10283 non-null  float64
dtypes: float64(6)
memory usage: 562.4 KB

duplicated rows:211


s&p_eps  stats                          s&p_closing_prices  stats            real_gdp
Mean:                ..........65.82    Mean:             .........965.35    Mean:               ......12320591.12
Standard Error:      ............0.3    Standard Error:   ...........7.23    Standard Error:     .........37239.77
Median:              ..........59.39    Median:           ..........943.0    Median:             .......12610491.0
Mode:                ..........48.88    Mode:             .........102.09    Mode:               ......10222506.85
Std:                 ..........30.63    Std:              ..........733.4    Std:                .......3776303.81
Variance:            .........938.08    Variance:         ......537874.71    Variance:           14260470490869.74
Kurtosis:            ..........-0.61    Kurtosis:         ..........-0.07    Kurtosis:           ............-1.35
Skewness:            ...........0.63    Skewness:         ...........0.78    Skewness:           .............0.06
Range:               .........121.82    Range:            ........2929.73    Range:              ......12245833.59
Min:                 ..........18.27    Min:              ..........96.13    Min:                .......6827222.41
Max:                 .........140.09    Max:              ........3025.86    Max:                .......19073056.0
Sum:                 ......676789.25    Sum:              ......9926710.6    Sum:                ..126692638492.48
Count:               ..........10283    Count:            ..........10283    Count:              ............10283


average_10y_yield_%  stats              average_annual_inflation
Mean:                ...........6.14    Mean:             ...........3.43
Standard Error:      ...........0.03    Standard Error:   ...........0.03
Median:              ...........5.65    Median:           ............2.8
Mode:                ...........2.14    Mode:             ............1.6
Std:                 ...........3.27    Std:              ...........2.67
Variance:            ..........10.67    Variance:         ...........7.12
Kurtosis:            ..........-0.46    Kurtosis:         ...........5.18
Skewness:            ...........0.64    Skewness:         ...........2.22
Range:               ..........12.12    Range:            ...........13.9
Min:                 ............1.8    Min:              ...........-0.4
Max:                 ..........13.92    Max:              ...........13.5
Sum:                 .......63158.92    Sum:              ........35291.0
Count:               ..........10283    Count:            ..........10283

 41 Unique Years:
 [1979. 1980. 1981. 1982. 1983. 1984. 1985. 1986. 1987. 1988. 1989. 1990.
 1991. 1992. 1993. 1994. 1995. 1996. 1997. 1998. 1999. 2000. 2001. 2002.
 2003. 2004. 2005. 2006. 2007. 2008. 2009. 2010. 2011. 2012. 2013. 2014.
 2015. 2016. 2017. 2018. 2019.]

,year,s&p_eps,s&p_closing_prices,real_gdp,average_10y_yield_%,average_annual_inflation
0,1979.0,50.01,96.730003,6.827700e+06,9.43,11.3
1,1979.0,50.01,97.800003,6.827700e+06,9.43,11.3
2,1979.0,50.01,98.580002,6.827700e+06,9.43,11.3
3,1979.0,50.01,99.129997,6.827700e+06,9.43,11.3
4,1979.0,50.01,98.800003,6.827700e+06,9.43,11.3

All the imported data is merged into one comprehensive data frame.

In [14]:
# Convert & export final data frame as csv
clean_com.to_csv('Data/Comprehensive_Data.csv', sep = ',', encoding = 'utf-8')

The data frame is exported for further analysis. <br>

In [15]:
# Decade 1: 1979 - 1989 for clean_com data
da_1 = clean_com.iloc[((clean_com['year'] >= 1979) & (clean_com['year'] < 1989)).values, [0, 1, 2, 3, 4, 5]]
da_1 = da_1.reset_index()
print('\n\n','------------ Decade 1: 1979 - 1989 ------------'.center(110),'\n')
da_1.info()
series_stats_gen3(da_1['s&p_eps'],da_1['s&p_closing_prices'],da_1['real_gdp'], 
                  da_1['average_10y_yield_%'],da_1['average_annual_inflation'])

# Decade 2: 1989 - 1999 for clean_com data
da_2 = clean_com.iloc[((clean_com['year'] >= 1989) & (clean_com['year'] < 1999)).values, [0, 1, 2, 3, 4, 5]]
da_2 = da_2.reset_index()
print('\n\n','------------ Decade 2: 1989 - 1999 ------------'.center(110),'\n')
da_2.info()
series_stats_gen3(da_2['s&p_eps'],da_2['s&p_closing_prices'],da_2['real_gdp'], 
                  da_2['average_10y_yield_%'],da_2['average_annual_inflation'])

# Decade 3: 1999 - 2009 for clean_com data
da_3 = clean_com.iloc[((clean_com['year'] >= 1999) & (clean_com['year'] < 2009)).values, [0, 1, 2, 3, 4, 5]]
da_3 = da_3.reset_index()
print('\n\n','------------ Decade 3: 1999 - 2009 ------------'.center(110),'\n')
da_3.info()
series_stats_gen3(da_3['s&p_eps'],da_3['s&p_closing_prices'],da_3['real_gdp'], 
                  da_3['average_10y_yield_%'],da_3['average_annual_inflation'])

# Decade 4: 2009 - 2019 for clean_com data
da_4 = clean_com.iloc[((clean_com['year'] >= 2009) & (clean_com['year'] < 2019)).values, [0, 1, 2, 3, 4, 5]]
da_4 = da_4.reset_index()
print('\n\n','------------ Decade 4: 2009 - 2019 ------------'.center(110),'\n')
da_4.info()
series_stats_gen3(da_4['s&p_eps'],da_4['s&p_closing_prices'],da_4['real_gdp'], 
                  da_4['average_10y_yield_%'],da_4['average_annual_inflation'])

                                ------------ Decade 1: 1979 - 1989 ------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2529 entries, 0 to 2528
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     2529 non-null   int64
 1   year                      2529 non-null   float64
 2   s&p_eps                   2529 non-null   float64
 3   s&p_closing_prices        2529 non-null   float64
 4   real_gdp                  2529 non-null   float64
 5   average_10y_yield_%       2529 non-null   float64
 6   average_annual_inflation  2529 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 138.4 KB


s&p_eps  stats                          s&p_closing_prices  stats            real_gdp
Mean:                ..........40.48    Mean:             .........176.64    Mean:               .......7572617.54
Standard Error:      ...........0.12    Standard Error:   ...........1.26    Standard Error:     .........14063.49
Median:              ..........40.79    Median:           .........162.74    Median:             .......7120967.98
Mode:                ..........41.15    Mode:             .........102.09    Mode:               .......7532701.08
Std:                 ...........6.09    Std:              ..........63.47    Std:                ........707241.01
Variance:            ..........37.07    Variance:         .........4028.1    Variance:           ..500189844446.18
Kurtosis:            ..........-1.08    Kurtosis:         ..........-0.83    Kurtosis:           ............-1.11
Skewness:            ...........0.48    Skewness:         ...........0.64    Skewness:           .............0.52
Range:               ..........17.44    Range:            .........240.64    Range:              .......2071945.11
Min:                 ..........33.43    Min:              ..........96.13    Min:                .......6827222.41
Max:                 ..........50.87    Max:              .........336.77    Max:                .......8899167.53
Sum:                 ......102384.96    Sum:              ......446734.21    Sum:                ...19151149762.96
Count:               ...........2529    Count:            ...........2529    Count:              .............2529


average_10y_yield_%  stats              average_annual_inflation
Mean:                ..........10.69    Mean:             ............6.2
Standard Error:      ...........0.04    Standard Error:   ...........0.08
Median:              ...........11.1    Median:           ............4.3
Mode:                ...........10.7    Mode:             ............3.6
Std:                 ...........1.98    Std:              ...........3.81
Variance:            ...........3.91    Variance:         ..........14.52
Kurtosis:            ..........-1.21    Kurtosis:         ..........-0.94
Skewness:            ...........0.06    Skewness:         ...........0.78
Range:               ...........6.25    Range:            ...........11.6
Min:                 ...........7.67    Min:              ............1.9
Max:                 ..........13.92    Max:              ...........13.5
Sum:                 .......27030.02    Sum:              ........15682.4
Count:               ...........2529    Count:            ...........2529


                                ------------ Decade 2: 1989 - 1999 ------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528 entries, 0 to 2527
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     2528 non-null   int64
 1   year                      2528 non-null   float64
 2   s&p_eps                   2528 non-null   float64
 3   s&p_closing_prices        2528 non-null   float64
 4   real_gdp                  2528 non-null   float64
 5   average_10y_yield_%       2528 non-null   float64
 6   average_annual_inflation  2528 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 138.4 KB


s&p_eps  stats                          s&p_closing_prices  stats            real_gdp
Mean:                ..........48.71    Mean:             .........553.19    Mean:               ......10186022.93
Standard Error:      ...........0.23    Standard Error:   ...........4.81    Standard Error:     .........19527.88
Median:              ..........46.81    Median:           .........456.38    Median:             .......9690657.27
Mode:                ..........48.88    Mode:             .........341.33    Mode:               ......10222506.85
Std:                 ..........11.57    Std:              .........241.73    Std:                ........981846.54
Variance:            .........133.84    Variance:         .......58432.48    Variance:           ..964022629368.45
Kurtosis:            ...........-1.4    Kurtosis:         ...........0.19    Kurtosis:           ............-0.99
Skewness:            ..........-0.18    Skewness:         ...........1.16    Skewness:           ..............0.6
Range:               ..........33.67    Range:            ..........966.5    Range:              .......2942425.21
Min:                 ..........29.89    Min:              .........275.31    Min:                .......9095857.79
Max:                 ..........63.56    Max:              ........1241.81    Max:                .......12038283.0
Sum:                 ......123138.23    Sum:              .....1398472.21    Sum:                ...25750265968.53
Count:               ...........2528    Count:            ...........2528    Count:              .............2528


average_10y_yield_%  stats              average_annual_inflation
Mean:                ...........6.95    Mean:             ...........3.27
Standard Error:      ...........0.02    Standard Error:   ...........0.02
Median:              ...........6.79    Median:           ............3.0
Mode:                ...........6.72    Mode:             ............3.0
Std:                 ...........1.03    Std:              ...........1.11
Variance:            ...........1.06    Variance:         ...........1.24
Kurtosis:            ..........-0.98    Kurtosis:         ..........-0.66
Skewness:            ...........0.19    Skewness:         ...........0.58
Range:               ...........3.29    Range:            ............3.8
Min:                 ...........5.26    Min:              ............1.6
Max:                 ...........8.55    Max:              ............5.4
Sum:                 .......17567.01    Sum:              .........8267.3
Count:               ...........2528    Count:            ...........2528


                                ------------ Decade 3: 1999 - 2009 ------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2515 entries, 0 to 2514
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     2515 non-null   int64
 1   year                      2515 non-null   float64
 2   s&p_eps                   2515 non-null   float64
 3   s&p_closing_prices        2515 non-null   float64
 4   real_gdp                  2515 non-null   float64
 5   average_10y_yield_%       2515 non-null   float64
 6   average_annual_inflation  2515 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 137.7 KB


s&p_eps  stats                          s&p_closing_prices  stats            real_gdp
Mean:                ..........66.67    Mean:             ........1225.26    Mean:               ......14227444.46
Standard Error:      ...........0.51    Standard Error:   ...........3.62    Standard Error:     .........20917.02
Median:              ..........74.17    Median:           ........1241.87    Median:             .......14406382.0
Mode:                ..........18.27    Mode:             ........1139.93    Mode:               .......15604687.0
Std:                 ..........25.59    Std:              .........181.61    Std:                .......1048983.97
Variance:            .........654.98    Variance:         .......32981.74    Variance:           .1100367368353.15
Kurtosis:            ..........-0.81    Kurtosis:         ..........-0.61    Kurtosis:           ............-1.46
Skewness:            ..........-0.53    Skewness:         ..........-0.37    Skewness:           .............0.01
Range:               ..........85.99    Range:            .........812.71    Range:              ........3015538.0
Min:                 ..........18.27    Min:              .........752.44    Min:                .......12610491.0
Max:                 .........104.26    Max:              ........1565.15    Max:                .......15626029.0
Sum:                 ......167674.12    Sum:              .....3081527.22    Sum:                ....35782022813.0
Count:               ...........2515    Count:            ...........2515    Count:              .............2515


average_10y_yield_%  stats              average_annual_inflation
Mean:                ............4.7    Mean:             ...........2.82
Standard Error:      ...........0.01    Standard Error:   ...........0.01
Median:              ...........4.61    Median:           ............2.8
Mode:                ...........3.66    Mode:             ............3.4
Std:                 ...........0.69    Std:              ...........0.63
Variance:            ...........0.47    Variance:         ...........0.39
Kurtosis:            ..........-0.55    Kurtosis:         ..........-0.68
Skewness:            ...........0.52    Skewness:         ..........-0.33
Range:               ...........2.37    Range:            ............2.2
Min:                 ...........3.66    Min:              ............1.6
Max:                 ...........6.03    Max:              ............3.8
Sum:                 .......11810.59    Sum:              .........7093.0
Count:               ...........2515    Count:            ...........2515


                                ------------ Decade 4: 2009 - 2019 ------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516 entries, 0 to 2515
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     2516 non-null   int64
 1   year                      2516 non-null   float64
 2   s&p_eps                   2516 non-null   float64
 3   s&p_closing_prices        2516 non-null   float64
 4   real_gdp                  2516 non-null   float64
 5   average_10y_yield_%       2516 non-null   float64
 6   average_annual_inflation  2516 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 137.7 KB


s&p_eps  stats                          s&p_closing_prices  stats            real_gdp
Mean:                .........101.86    Mean:             ........1765.77    Mean:               .......16808407.8
Standard Error:      ...........0.37    Standard Error:   ..........11.27    Standard Error:     .........21479.46
Median:              .........100.27    Median:           ........1805.45    Median:             .......16703703.5
Mode:                ..........95.77    Mode:             ........1881.71    Mode:               ......16449770.14
Std:                 ..........18.47    Std:              .........565.41    Std:                .......1077404.36
Variance:            .........341.26    Variance:         ......319686.45    Variance:           .1160800160814.61
Kurtosis:            ...........0.64    Kurtosis:         ..........-1.03    Kurtosis:           ............-1.18
Skewness:            ..........-0.42    Skewness:         ............0.2    Skewness:           .............0.17
Range:               ...........75.1    Range:            ........2254.22    Range:              ........3429330.0
Min:                 ..........60.92    Min:              .........676.53    Min:                .......15208834.0
Max:                 .........136.02    Max:              ........2930.75    Max:                .......18638164.0
Sum:                 ......256274.39    Sum:              .....4442665.76    Sum:                ....42289954028.0
Count:               ...........2516    Count:            ...........2516    Count:              .............2516


average_10y_yield_%  stats              average_annual_inflation
Mean:                ...........2.52    Mean:             ...........1.55
Standard Error:      ...........0.01    Standard Error:   ...........0.02
Median:              ...........2.54    Median:           ............1.6
Mode:                ...........2.59    Mode:             ............1.6
Std:                 ...........0.49    Std:              ............1.0
Variance:            ...........0.24    Variance:         ............1.0
Kurtosis:            ..........-1.21    Kurtosis:         ..........-0.32
Skewness:            ...........0.08    Skewness:         ...........-0.5
Range:               ...........1.46    Range:            ............3.6
Min:                 ............1.8    Min:              ...........-0.4
Max:                 ...........3.26    Max:              ............3.2
Sum:                 .........6334.0    Sum:              .........3897.3
Count:               ...........2516    Count:            ...........2516

As noted in the description the comprehensive data frame is separated into four decades: 

Decade 1: 1979 - 1989<br>
Decade 2: 1989 - 1999<br>
Decade 3: 1999 - 2009<br>
Decade 4: 2009 - 2019<br>

The data within the individual decades are explored.

In [16]:
# Convert & export final data frame as csv
da_1.to_csv('Data/Decade1.csv', sep = ',', encoding = 'utf-8')
da_2.to_csv('Data/Decade2.csv', sep = ',', encoding = 'utf-8')
da_3.to_csv('Data/Decade3.csv', sep = ',', encoding = 'utf-8')
da_4.to_csv('Data/Decade4.csv', sep = ',', encoding = 'utf-8')

Exported all data frames of each individual decade into the project directory for further analysis. <br>